{% extends "base/base.html" %}
{% load static %}
{% block title %}Portifolio - Home{% endblock %}
{% block content %}
<div class="container">
    <div class="row">

        <div class="col-md-12 mt-5">
            <div class="card">
                <div class="card-header">
                    <h2>Module</h2>
                </div>
                <div class="card-body">
                    <hr class="featurette-divider mt-5 mb-5">
                    <h3>Module description</h3>
                    </br>
                    <p>
                        Module Content
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}