{% extends "base/base.html" %}
{% load static %}
{% block title %}Portifolio - Home{% endblock %}
{% block content %}
<div class="container">
    <div class="row">

        <div class="col-md-12 mt-5">
            <div class="card">
                <div class="card-header">
                    <h2>backtesting-walkfoward</h2>
                </div>
                <div class="card-body">
                    </br>
                    <h4>Categoria: Projetos e Bibliotecas em Python</h4>
                    </br>
                    <p>
                        Backtesting é uma etapa fundamental para criação de estratégias de trading lucrativas a longo prazo.
                        Para simplificar a criação de backtesting a backtesting-walfoward é uma biblioteca python que auxilia
                        na criação de backtestings sobre data de ativos financeiros. Ela também faz walkfoward testing na qual
                        se trata de vários backtestings em etapas aumento a probabilidade da estratégia ser mais coerente com a realidade.
                        Esse projeto mostra bem a aplicação de OOP do python para resolver um problema real e complexo.
                        Para rodar e entender como usar a biblioteca basta abrir o repositório
                        no github e seguir o read-me. Qualquer dúvida ou sujestão de melhoria por favor entre em contato.
                    </p>
                    </br>
                    <p>Link da Aplicação Online: <a href="#">#</a></p>
                    <p>Link do Repositório do github: <a href="https://github.com/JoaoZati/backtesting_walkfoward">https://github.com/JoaoZati/backtesting_walkfoward</a></p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}