{% extends "base/base.html" %}
{% load static %}
{% block title %}Portifolio - Home{% endblock %}
{% block content %}
<main>
  <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/python_carousel.jpg' %}" style="height: 650px;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="mb-3">Projetos e Bibliotecas em Python</h5>
          <p>Projetos e bibliotecas postadas no Pypi envolvendo programação procedural e programação orientada a objetos.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Veja meus Projetos</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/django_carousel.png' %}" style="height: 650px;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="mb-3 text-white">Aplicações Django</h5>
          <p class="text-white">Aplicações desenvolvidas com bootstrap e django com deploy no heroku.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Veja as Aplicações</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/flask_carousel_2.jpg' %}" style="height: 650px;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="mb-3 text-white">Aplicações Flask</h5>
          <p class="text-white">Aplicações desenvolvidas com bootstrap e flask com deploy no heroku.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Veja as Aplicações</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/tkinter_carousel.jpg' %}" style="height: 650px;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="mb-3 text-white">Aplicações Desktop</h5>
          <p class="text-white">Aplicações simples desenvolvidas para desktop utilizando tkinter e banco de dados SQL.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Veja as Aplicações</a></p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container marketing mt-5">
    <div class="row text-center">
      <div class="col-lg-4">
        <img src="{% static 'img/source_code_red.jpeg' %}" class="rounded-circle" alt="" width="140" height="140" />
        <h2>Linguagens</h2>
        <p style="margin:0.25;">Python</p>
        <p style="margin:0.25;">SQL Básico</p>
        <p>HTML/CSS Básico</p>
        <p><a class="btn btn-dark" href="#">Veja mais Detalhes &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <img src="{% static 'img/django_circle.png' %}" class="rounded-circle" style="background-color: #21481C;" alt="" width="140" height="140" />
        <h2>Frameworks</h2>
        <p style="margin:0.25;">Django</p>
        <p style="margin:0.25;">Flask</p>
        <p>Bootstrap</p>
        <p><a class="btn btn-dark" href="#">Veja mais Detalhes &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="{% static 'img/github_circle.png' %}" class="rounded-circle" alt="" width="140" height="140" />
        <h2>Ferramentas</h2>
        <p style="margin:0.25;">Github/Pycharm</p>
        <p style="margin:0.25;">Heroku</p>
        <p>Ferramentas de integração</p>
        <p><a class="btn btn-dark" href="#">Veja mais Detalhes &raquo;</a></p>
      </div>
    </div>

    <hr class="featurette-divider mt-5 mb-5">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Projeto Django Devpro. <span class="text-muted">Plataforma de curso realizado no curso Dev Pro da Python Pro Brasil:</span></h2>
        <p class="lead">Projeto django com frontend em bootstrap seguindo a metodologia TDD e boas práticas Twelve-Factor App.
        Integração continua com Travis CI, atualização de pacotes com Pyup, testes com framework pytest, cobertura de testes com codecov e
        verificação de erros com sentry. Possui relações One to One, Many to One e Many to Many.</p>
        <p><a class="btn btn-dark" href="#">Veja mais Detalhes &raquo;</a></p>
      </div>
      <div class="col-md-5 text-center">
        <img src="{% static 'img/pythonpro.png' %}" alt="" width="400" height="400" />
      </div>
    </div>

    <hr class="featurette-divider mb-5">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Biblioteca backtesting_walkfoward. <span class="text-muted">Biblioteca Python para realização de backtesting de ativos financeiros</span></h2>
        <p class="lead">Com essa biblioteca é possível fazer backtesting e walkfoard testing de estratégias de trading
          em ativos financeiros usando principalmente Pandas e Numpy para executar os cálculos.
          A publicação foi feita na Pypi e pode ser usada por linha de comando. Para mais detalhes clique no botão abaixo.
        </p>
        <p><a class="btn btn-dark" href="#">Veja mais Detalhes &raquo;</a></p>
      </div>
      <div class="col-md-5 text-center">
        <img src="{% static 'img/bitcoin.jpeg' %}" alt="" width="400" height="260" />
      </div>
    </div>

    <hr class="featurette-divider mt-5 mb-5">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <h5 class="card-header">
            Quem eu sou?
          </h5>
          <div class="card-body">
            <p class="card-text">
              <img src="{% static 'img/me.jpg' %}" width="150" height="150" alt="Foto Pessoal"
                   class="img-thumbnail float-start me-3"/>
              <p>Olá meu nome é João Guilherme, sou formado em engenharia mecânica e trabalhei no setor por mais de dois
                anos como projetista, atualmente decidi migrar para área de programação por acreditar que tenho muito mais
                potêncial nessa área pois é o que eu gosto de fazer. Fiz esse portifólio para concluir meu objetivo de encontrar
                a minha primeira vaga como programador.</p>
              <p>Se gostou do meu trabalho ou tem alguma sugestão, por favor entre em contato.</p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}